

<h2 style="font-size: 40px; text-align:center;color: rgb(53, 10, 243);text-shadow: 30px;
">Enjoy your Shoping</h2>
<div class="row">
    <div class="col-md-2" *ngFor="let product of products">

      <div class="card mb-6">
        <p class="card-text"><img [src]="product.image" alt="image"></p>

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: {{ product.price }}</p>
          <p class="card-text">In-stock: {{ product.quantity }}</p>

          <button class="btn btn-primary" (click)="addtocart(product)">Add to Cart</button>
          <button class="btn btn-warning" >Buy Now</button>


           
        </div>
      </div>
    </div>

  