form{
margin-top: 200px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 50px;
width: 400px;
margin-left: 700px;
background-color: rgb(209, 18, 18);
border-radius: 30px;
border-color: black;
}