

<div class="row">
    <div class="col-md-2" *ngFor="let customer of customers,let i=index">
      <div class="card mb-6">
        <div class="card-body">
        
          <div *ngIf="selectedCustomer && selectedCustomer.id === customer.id">
            <input [(ngModel)]="selectedCustomer.cust_name" placeholder="Name">
            <input [(ngModel)]="selectedCustomer.email" placeholder="Email">
            <input [(ngModel)]="selectedCustomer.phone" placeholder="Phone">
            <input [(ngModel)]="selectedCustomer.image" placeholder="image">
<br>
            <button class="fa fa-save text-success" aria-hidden="true" (click)="saveCustomer()">save</button>
            <br>

            <button (click)="cancelEdit()">Cancel</button>
          </div>
          <div *ngIf="!selectedCustomer || selectedCustomer.id !== customer.id">
            <img [src]="customer.image" alt="image">
            <p style="font-weight: 700;">  {{ customer.cust_name }}</p>
            <p>Email: {{ customer.email }}</p>
            <p>Phone: {{ customer.phone }}</p>

            <td><i class="fa fa-edit text-primary" aria-hidden="true" (click)="editCustomer(customer)">Edit</i></td>


            <td><i class="fa fa-edit text-danger" style="margin-left: 10px;" aria-hidden="true" (click)="ondelete(i)">Delete</i></td>
          
          </div>
        </div>
      </div>
    </div>
   