
<div class="container mt-4" style="width: 90%;">
    <div class="table table-responsive table-striped">
      <table class="table table-bordered">    

        <thead style="background-color: rgb(255, 255, 255);">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Orders</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products;let i = index">
            <td><img [src]="product.image" class="img-fluid" alt="{{product.name}}" style="width: 70px;height: 70px;"></td>

            <td>{{product.name}}</td>
            <td>{{product.id}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>

            <td><button class="btn btn-info" (click)="addtocart(product)">add to cart</button></td>
            <td><i class="fa fa-trash text-danger" aria-hidden="true" (click)="ondelete(i)"></i></td>

          </tr>
          <tr *ngIf="!products.length">
            <td colspan="6" class="text-center">No products found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
   