
<div class="product">
 
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">card view</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">List view</button>
    </li>
    <li class="nav-item" role="presentation" >
      <button class="btn btn-transparent mb-3" (click)="showAddProductForm = true" style="color: rgb(48, 110, 224);">Add Products</button>
    
    </li>
   
   
  </ul>
</div>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><app-products></app-products></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><app-product-list></app-product-list></div>
   
  </div>


<div class="container">
 
    <div *ngIf="showAddProductForm">
      <form (ngSubmit)="onAddProduct()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" [(ngModel)]="newProduct.quantity" name="quantity" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
        </div>
        
        <div>
          <label for="image"> Upload Image: </label>
          <div><input type="file" (change)="onFileChange($event)" name="image" required></div>
        </div>

        <div>
          <div *ngIf="onFileChange">
            <div *ngIf="newProduct.image">
              <h3>Preview:</h3>

              <img [src]="newProduct.image" alt="Image preview" style="max-width: 100%; height: auto;">
              <div> Name :{{newProduct.name}}</div>
              <div> Email:{{newProduct.quantity}}</div>
              <div> Phone :{{newProduct.price}}</div>


            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Add Product</button>

        <button type="button" class="btn btn-secondary" (click)="showAddProductForm = false">Cancel</button>
      </form>
    </div>
  

    </div>