<!-- devices -->
 <div class="row">
<div class="product-card">
	<div class="col-lg-2 col-md-4">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="card">
						<h5 class="card-title">Gadgets</h5>
						<div class="card-body">
							<img src="/assets/download (26).jpeg" class="card-img-top" alt="Front Image"
								style="height: 140px;">

							<h1 style="font-size: 20px;" class="blink">Flat 20% Off</h1>
							<img src="/assets/images (2).jpeg" class="card-img-top" alt="Front Image"
								style="height: 150px;">
							<hr>
							<p>Mobiles,watches and Many More</p>

						</div>
					</div>
				</div>
				<div class="flip-card-back">
					<div class="card">
						<img src="/assets/download (4).jpeg" class="card-img-top" alt="Back Image">
						<div class="card-body">
							<h5 class="card-title">Enjoy the sale</h5>
							<a routerLink="/products" class="btn btn-primary">Shop Now</a>

							<router-outlet></router-outlet>
							<a></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	 <!-- electronics -->

	<div style="margin-left: 350px;margin-top: 0px;" class="col-lg-2 col-md-4">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">

					<div class="card">
						<h5 class="card-title">Electronics</h5>
						<div class="card-body">
							<img src="/assets/userss/download (25).jpeg" class="card-img-top" alt="Front Image"
								style="height: 140px;">

							<h1 style="font-size: 20px;" class="blink">Flat 10% Off</h1>
							<img src="/assets/userss/download (22).jpeg" class="card-img-top" alt="Front Image"
								style="height: 150px;">
							<hr>
							<p>Fridge,TV and Many More</p>

						</div>
					</div>
				</div>
				<div class="flip-card-back">
					<div class="card">
						<img src="/assets/userss/download (24).jpeg" class="card-img-top" alt="Back Image">
						<div class="card-body">
							<h5 class="card-title">Enjoy the Sale</h5>
							<a routerLink="/products" class="btn btn-primary">Shop Now</a>

							<router-outlet></router-outlet>
							<a></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- cosmetics -->
	<div style="margin-left: 700px;margin-top: 0px;" class="col-lg-2 col-md-4">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="card">
						<h5 class="card-title">Cosmetics</h5>
						<div class="card-body">
							<img src="/assets/userss/images (22).jpeg" class="card-img-top" alt="Front Image"
								style="height: 140px;">

							<h1 style="font-size: 20px;" class="blink">Flat 80% Off</h1>
							<img src="/assets/userss/images (19).jpeg" class="card-img-top" alt="Front Image"
								style="height: 150px;">
							<hr>
							<p>Lotions,Perfumes and many more</p>

						</div>
					</div>

				</div>
				<div class="flip-card-back">
					<div class="card">
						<img src="/assets/userss/images (21).jpeg" class="card-img-top" alt="Back Image"
							style="height: 100px;">
						<div class="card-body">
							<h5 class="card-title">Ejoy the Sale</h5>
							<a routerLink="/products" class="btn btn-primary">Go to products</a>

							<router-outlet></router-outlet>
							<a></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- home decors -->
	<div style="margin-left: 1050px;margin-top: 0px;" class="col-lg-2 col-md-4">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="card">
						<h5 class="card-title">Home Decors</h5>
						<div class="card-body">
							<img src="/assets/userss/images (23).jpeg" class="card-img-top" alt="Front Image"
								style="height: 140px;">

							<h1 style="font-size: 20px;" class="blink">Flat 50% Off</h1>
							<img src="/assets/userss/images (24).jpeg" class="card-img-top" alt="Front Image"
								style="height: 150px;">
							<hr>
							<p>Idols,Hangings and many more</p>

						</div>
					</div>
				</div>
				<div class="flip-card-back">
					<div class="card">
						<img src="/assets/userss/images (25).jpeg" class="card-img-top" alt="Back Image">
						<div class="card-body">
							<h5 class="card-title">Enjoy the Sale</h5>
							<a routerLink="/products" class="btn btn-primary">Shop Now</a>

							<router-outlet></router-outlet>
							<a></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Carousel -->
<div class="slideimage">
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	  </div>
	  <div class="carousel-inner">
		<h1 style="font-size: medium;text-align: center;">Recently Viewed</h1>
		<div class="carousel-item active">
		  <img src="/assets/homeproducts/download (12).png" alt="Back Image" style="margin-left: 100px;">
		  <img src="/assets/homeproducts/download (30).jpeg" alt="Back Image" style="margin-left: 100px;">
		  <img src="/assets/homeproducts/download (34).jpeg" alt="Back Image" style="margin-left: 100px;">
		  <div class="carousel-caption d-none d-md-block"></div>
		</div>
		<div class="carousel-item">
		  <img src="/assets/homeproducts/download (32).jpeg" alt="Back Image" style="margin-left: 100px;height:170px;width: 250px;">
		  <img src="/assets/homeproducts/download (33).jpeg" alt="Back Image" style="margin-left: 100px;">
		  <img src="/assets/homeproducts/download (31).jpeg" alt="Back Image" style="margin-left: 100px;height: 170px;">
		  <div class="carousel-caption d-none d-md-block"></div>
		</div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </button>
	</div>
  </div>
</div> 

</div>

